.menu {
    position: relative;
  }
  
  .botao-menu {
    width: 40px;
    height: 40px;
    position: absolute;
        display:block;
        background-color:black;
        width:100%;
        height:100%;
        content:"";
    }header nav label[for="menu-toggle"] div.menu-hamburger span.hamburger:before{
        top: -10px;
    }
    header nav label[for="menu-toggle"] div.menu-hamburger span.hamburger:after{
        bottom: -10px;
    }
    header nav input:checked ~ ul{
        display:block;
        animation: fade-in 1s;
    }
    header nav input:checked ~ label[for="menu-toggle"] div.menu-hamburguer span.hamburger{
        transform: rotate(45deg);
        transition:0.5s ease-in-out;
    }
    header nav input:checked ~ label[for="menu-toggle"] div.menu-hamburguer span.hamburger:before,
    header nav input:checked ~ label[for="menu-toggle"] div.menu-hamburguer span.hamburger:after{
        transform:rotate(90deg);
        transition:0.5 ease-in-out;
    }
  
  .botao-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .botao-menu.aberto span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  
  .botao-menu.aberto span:nth-child(2) {
    transform: rotate(-45deg);
  }
  
  .botao-menu.aberto span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  
  .itens-menu {
    position: absolute;
    top: 50%;
    right: -200px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #000;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
  }
  
  .botao-menu.aberto + .itens-menu {
    transform: translateX(-100%);
  }